<main>
  <nav class="menu">
    <img src="../assets/logo-dm.png" alt="" class="logo-dm">
    <div class="links">
      <a href="#ganhos">O Que Você Ganha?</a>
      <a href="#sobre-mim">Sobre Mim</a>
    </div>
  </nav>
  <div class="container-apresentacao">
    <div class="texto-animado">
      <div class="texto-centralizado">
        <div>Pensando em ter um site de apresentação de produtos ou serviços para:</div>
        <div class="texto-animado__conteudo">{{ textoDigitado }}<span class="texto-animado__cursor"></span></div>
      </div>
      <div class="botao-whats">
        <a href="https://wa.me/5554981270320?text=Olá, gostaria de mais informações!" target="_blank">
          <img class="botao-whats" src="../assets/botao-whats.png" alt="">
        </a>
      </div>
    </div>
  </div>
  <div class="linha-import"></div>
  <div class="import-lista" [ngClass]="{'show': isElementVisible}">
    <h2 id="h2-import" class="h2-move">Qual a importância de ter uma página para seu produto?</h2>
    <p id="princ-motiv">Conheça alguns dos principais motivos para você ter seu site para seus produtos:</p>
    <div class="princ-motivos">
      <div><img class="img-correct" src="../assets/img-correct.png" alt="">Destaque de Produtos</div>
      <div><img class="img-correct" src="../assets/img-correct.png" alt="">Impacto Rápido</div>
      <div><img class="img-correct" src="../assets/img-correct.png" alt="">Contato mais direto com o Cliente</div>
    </div>
  </div>
  <div class="linha-import"></div>
  <div class="nosso-servico" id="ganhos">
    <h2 id="h2-import-servico" style="color: white;">O que o cliente vai ganhar contratando o nosso Serviço?</h2>
    <div class="princ-servico">
      <div class="princ-servico1">
        <div><img class="img-mais" src="../assets/mais.png" alt="">Tecnologias atualizadas com o nível do Mercado</div>
        <div><img class="img-mais" src="../assets/mais.png" alt="">Qualidade e Profissionalismo</div>
      </div>
      <div class="princ-servico2">
        <div class="satisfacao-feedback">
          <div><img class="img-mais" src="../assets/mais.png" alt="">Garantia de Satisfação</div>
          <div><img class="img-mais" src="../assets/mais.png" alt="">Feedback Valorizado</div>
        </div>
      </div>
    </div>
  </div>
  <div class="linha-import"></div>
  <div class="aperto-mao">
    <p>
      Tendo um site próprio para seus produtos você chama a atenção do seu público-alvo instantaneamente. Com tecnologias atualizadas e um design profissional, sua marca transmitirá qualidade e profissionalismo!<br><br>
      Além disso, você oferece uma experiência personalizada aos seus clientes, garantindo contato direto e feedback valorizado. Contrate nossos serviços e garanta satisfação em cada interação.
    </p>
  </div>
  <div class="linha-import"></div>
  <div class="botao-sobre-mim" id="sobre-mim">
    <img class="img-botao-sobre" src="../assets/mais-sobre-mim.png" alt="">
  </div>
  <div class="mais-sobre-mim">
    <div class="container-sobre-mim">
      <div class="texto-sobre-mim">
        <p>Olá! Meu nome é Mateus.</p>
        <p>Sou apaixonado pela área da Tecnologia desde cedo, quando criança já buscava tópicos na internet sobre algoritmos. Com 15 anos eu fiz o meu primeiro curso do ramo tecnológico, quando fiz um curso de Lógica de Programação com Adobe Flash.</p>
        <p>Atualmente trabalho na área da programação com tecnologias como Angular e React, que são umas das mais usadas atualmente para criação de sites.</p>
      </div>
      <div class="img-sobre">
      </div>
    </div>
    <div class="container-fechamento">
      <div class="img-fechamento">
      </div>
      <div class="texto-fechamento">
        <p>E hoje meu maior objetivo em nome da marca DM é garantir uma maior produtividade para o seu negócio!</p>
        <p>Pois cada projeto bem-sucedido é uma nova oportunidade de aprendizagem e crescimento.</p>
        <p>Então, vamos conversar e construir um novo projeto? Clique em um dos links abaixo e fale comigo.</p>
        <div class="outros-links">
          <a href="https://wa.me/5554992727584?text=Olá, gostaria de mais informações!" target="_blank">
            <img class="img-outros-links" src="../assets/outro-lonk-whats.png" alt="">
          </a>
          <a href="https://t.me/mateusdmarchi">
            <img class="img-outros-links" src="../assets/outro-link-telegram.png" alt="">
          </a>
        </div>
      </div>
    </div>
    <footer>
      <div class="texto-footer">
        <p>DM Desenvolvimento WEB - Concretizando sonhos, inovando soluções</p>
        <p id="exp-img">Imagens meramente ilustrativas</p>
      </div>
    </footer>
  </div>
</main>
